@page "/add-software-modulescatlist"
@layout MainLayout
@inherits Landpag2.Pages.AddSoftwareModulescatlistComponent

@using Radzen
@using Radzen.Blazor
@using Landpag2.Models.Authenticationconn
@inject Microsoft.Extensions.Localization.IStringLocalizer<AddSoftwareModulescatlist> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@softwaremodulescatlist" Visible="@(softwaremodulescatlist != null)" TItem="Landpag2.Models.Authenticationconn.SoftwareModulescatlist" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["sprModulecatDescLabel.Text"]" Component="sprModulecatDesc" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(softwaremodulescatlist.sprModulecatDesc)" Name="SprModulecatDesc">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["sprModulecatDesc1Label.Text"]" Component="sprModulecatDesc1" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(softwaremodulescatlist.sprModulecatDesc1)" Name="SprModulecatDesc1">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["FuturecatDescLabel.Text"]" Component="FuturecatDesc" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(softwaremodulescatlist.FuturecatDesc)" Name="FuturecatDesc">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["FuturecatDesc1Label.Text"]" Component="FuturecatDesc1" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(softwaremodulescatlist.FuturecatDesc1)" Name="FuturecatDesc1">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["photopathLabel.Text"]" Component="photopath" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(softwaremodulescatlist.photopath)" Name="Photopath">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["InstallcatModuleLabel.Text"]" Component="InstallcatModule" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(softwaremodulescatlist.InstallcatModule)" Name="InstallcatModule">
                </RadzenNumeric>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="@L["button1.Text"]" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="@L["button2.Text"]" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
