@page "/"
@page "/i-soft"
@layout LandingpageLayout
@inherits Landpag2.Pages.ISoftComponent

@using Radzen
@using Radzen.Blazor
@using Landpag2.Models.Authenticationconn
@inject Microsoft.Extensions.Localization.IStringLocalizer<ISoft> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenHeading Size="H1" style="text-align: center" Text="@L["wytskytitle.Text"]" class="Headerbar">
        </RadzenHeading>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenDataList @ref="datalist0" AllowPaging="false" Count="1000" Data="@getsoftcategory" TItem="Landpag2.Models.Authenticationconn.SoftwareModulescatlist" PageSize="1000" style="display: flex" WrapItems="true" LoadData="@Datalist0LoadData" class="slide-container-section__slide-main get-started-section">
          <Template Context="data">
          <RadzenCard class="flip-card">
          
          <div class="get-started-section">
          <div class="get-started-section__cards">
          <div class="get-started-section__card-number">
          <span>@data.sprModulecatid</span>
          </div>
          <div class="flip-card-inner">
          
          <div class="flip-card-front">
          
          <div class="first hero">
            <img class="hero-profile-img" src="@data.photopath" alt="" />
            <div class="hero-description-bk"></div>
            <div class="hero-logo">
                <img src="assets/images/cpd_logo.png" alt="" />
            </div>
            <div class="hero-description">
              <p> @data.FuturecatDesc1  </p>
            </div>
            
            
          
          
           
          </div>
          
          
          
          
          </div>
            
           <div class="flip-card-back">
           <div class="secondary hero">
            <img class="hero-profile-img" src="@data.photopath" alt="" />
            <div class="hero-description-bk"></div>
            <div class="hero-description-mos">
            <p> @data.sprModulecatDesc1  </p>
            </div>
            <div class="hero-logo">
                <img src="assets/images/cpd_logo.png" alt="" />
            </div>
           
            <div class="hero-btn1">
            
             <!-- <a href="@data.FuturecatDesc" target='_blank'>  <div class="get-started-section__card-button"><h3> @data.sprModulecatDesc </h3></div></a> -->
          	<!--<button href="@data.FuturecatDesc" target='_blank'	>@data.sprModulecatDesc</button>	-->
              <div class="buttons">
              <button  class="btn-hover color-8"><a href="@data.FuturecatDesc" target='_blank'>@data.sprModulecatDesc</a></button>
              </div>
          </div>
            
           						
          						
           </div>
                                          
                                       
            
            </div>  
            
           
           
           
           </div>  
           
          
          
          
          
          
          
          
           </div> 
             </div> 
          
                                          
                                          
                                          
                                            
           </RadzenCard>
          </Template>
        </RadzenDataList>
      </div>
    </div>
  </ChildContent>
</RadzenContent>


